html, body {
  
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EAE3EA;
  scroll-behavior: smooth;

}

section {

  min-height: 90%;

}

li {

  list-style-type: none;
  transition: all 500ms; 
  -webkit-transition: 500ms; 
  -moz-transition: 500ms;
  -o-transition: 500ms;

}

h1 {
  color: white;
  margin: 0 0 0 0;
  font-family: 'Arvo', sans-serif;
  font-size: 50px;
  margin-right: 10%;
  margin-top: 10px;
  color: white;
  text-shadow: 0 5px 5px rgba( 0, 0, 0, 0.5);
  border-top-right-radius: 10px;

}

h2 {

  font-family: 'Arvo', serif; 
  font-size: 60px; 
  margin: -15px 0 0 0;
  color: white; 
  margin-right: 10%;
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
  text-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
  border-bottom-right-radius: 10px;

}

h3 {

  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 23px;
  margin-top: 10px;
  color: grey;

}

h4 {

  font-family: 'Arvo', serif;
  font-size: 40px;
  text-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);

}

a {

  font-family: 'Arvo', sans-serif;
  color:#000000;
  text-transform: uppercase; 
  margin: 0 0 0 0;
  text-decoration: none;

}

p {

  font-family: 'Arvo', sans-serif; 
  font-size: 22px; 
  font-stretch: semi-expanded; 
  font-kerning: normal;
  color: #7a7a7a;

}

#Logo_EOBX, #Obras, #Portifólio, img, .button{
	
  transition: all 500ms; 
	-webkit-transition: 500ms; 
	-moz-transition: 500ms;
	-o-transition: 500ms;
	overflow: hidden;

}

.Salvando:after {

  content: ' .';
  animation: dots 2s steps(5, end) infinite;
  margin: 0px 0px 0px 4px;
  padding: -4px -12px -9px 14px;
  position: absolute;

}

@keyframes dots {

0%, 20% {
  
 color: rgba(0,0,0,0);
 text-shadow:
 .25em 0 0 rgba(0,0,0,0),
 .5em 0 0 rgba(0,0,0,0);

}
  
40% {

 color: white;
 text-shadow:
 .25em 0 0 rgba(0,0,0,0),
 .5em 0 0 rgba(0,0,0,0);

}
  
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}
}


.spacer {
  width: 100%;
  height: 58px;
}

/* HEADER **************/


nav {
  width: 100%;
  background: #454545;
  z-index: 3;
  opacity:1;
  transition: .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  text-align: right;
}


nav.color {
  background: rgb(152,209,176, 0.5);
}

nav.color a {
color: #ffffff;
}

nav.color ul li:hover {
background: #91B49C;
}

nav { 
  background: #91B49C;
}

nav ul li:hover { 
  background: #ffffff;
}

ul {
  margin: 0 0 0 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}


#Logo_EOBX {
width:125px;
margin:0 auto;
overflow:hidden;
float:left;
}

#Logo_EOBX img {
  width: 100px;
  float: left;
  opacity: 0.8;
  margin-left: 20px;
   -webkit-filter: grayscale(50%);
}

#Logo_EOBX :hover {
  z-index: 1;
  transform: scale(1.1);
  opacity: 1;
   -webkit-filter: grayscale(0%);
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background:#91B49C;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}


/* HOME **************/


.Home {
  background: url(../img/Fundo.jpg) no-repeat top center fixed;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  background-position-y: 50%;
  min-height: 100%;
}

.Imagens {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  padding: 20px;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#Erick_Foto_Home img {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transition: all 1.5s linear;
    border-radius: 50%;
    opacity: 0.5;
}

#Erick_Foto_Home :hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
}

.Seta_Foto_Home {
  height: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#Seta_Foto_Home :hover {
  padding-top: 10px;
  opacity: 1;
}


/* Erick de Oliveira **************/

#ErickdeOliveira {
  min-height: 65vh;
}

#ErickdeOliveira h1 {
  padding-left: 8%;
    background-color: #856357;
    margin-right: 6%;
}

#ErickdeOliveira h2 {
  padding-left: 8%;
    background-color: #856357;
    margin-right: 6%;
}

#ErickdeOliveira h3 {
  text-align: justify;
  padding-left: 8%;
  margin-right: 10%;
}

.Serviços {
  margin-left: 7.8%;
}


.Serviços .box {
  position: relative;
  width: calc(464px);
  height: calc(263px);
  float: left;
  margin: 6px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.Serviços .box .icone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.Serviços .box:hover .icone {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.Serviços .box .icone .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.Serviços .box:hover .icone .fa{
  font-size: 40px;
}

.Serviços .box .Texto_01 {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0.5;
}

.Serviços .box:hover .Texto_01 {
   top: 100px;
   opacity: 1;
}

.Serviços .box .Texto_01 h4{
    margin: 0 0 0 10px;
    padding: 0;
    color: #fff;
    opacity: 0.8;
    background: #856357;
    border-radius: 10px;
    margin-left: 0;
}

.Serviços .box .Texto_01 p{
  margin:0;
  padding: 0;
  color: #fff;
}

.Serviços .box:nth-child(1) .icone {
  background: #91B49C;
}

.Serviços .box:nth-child(1){
  background: #98d1b0;
}

.Serviços .box:nth-child(2) .icone {
  background: #91B49C;
}

.Serviços .box:nth-child(2){
  background: #98d1b0;
}

.Serviços .box:nth-child(3) .icone {
  background: #91B49C;
}

.Serviços .box:nth-child(3){
  background: #98d1b0;
}

/* Obras **************/

#Obras {
  width: 100%;
  clear: both;
  overflow: hidden;
  min-height: 150vh;
}

#Obras h1{
  padding-left: 2%;
  background-color: #91B49C;
  margin-left: 6%;
  margin-right: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
}

#Obras h2{
  padding-left: 2%;
  background-color: #91B49C;
  margin-left: 6%;
  margin-right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;

}

#Obras h3{
  text-align: justify; 
  padding-left: 8%;
  margin-right: 10%;
  margin-left: 0%;
}

#Obras img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
}

.Aspas_01 {
font-family: Georgia, serif;
font-size: 25px;
font-style: italic;
line-height: 1.45;
}

.Aspas_01:before {
display: block;
content: "\201C";
font-size: 80px;
color: #7a7a7a;
line-height: 20px;
text-align: center;
}

.Aspas_01 .cite_01 {
color: #999999;
font-size: 18px;
display: block;
margin-top: 5px;
text-align: right;
}

.Aspas_02 {
font-family: Georgia, serif;
font-size: 25px;
font-style: italic;
line-height: 1.45;
}

.Aspas_02:before {
display: block;
content: "\201C";
font-size: 80px;
color: #7a7a7a;
line-height: 20px;
text-align: center;
}

.Aspas_02 .cite_02 {
color: #999999;
font-size: 18px;
display: block;
margin-top: 5px;
text-align: right;
}


 #projetos_01{
  padding-top: 2%;
 }

.projetos_01{
  margin-left: 8%;
  margin-right: 10%;
}

.projetos_01 img{
    border: transparent thin solid;
    float: left;
    max-width: 600px;
    width: 300px;
    height: 450px;
    border: 10px solid white;
    margin-right: 3%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.projetos_01 blockquote {
  padding-top: 8%;
  text-align: justify;
  margin: 0 0 0 0;
}

 #projetos_02{
  clear: both;
  padding-top: 8%;
 }

 .projetos_02{
  margin-right: 10%;
  margin-left: 8%;
  margin-bottom: 2%;
}

.projetos_02::after{
  content: "";
  clear: both;
  display: table;
}

.projetos_02 img{
    border: transparent thin solid;
    float: right;
    max-width: 600px;
    width: 300px;
    height: 450px;
    border: 10px solid white;
    margin-left: 3%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.projetos_02 blockquote {
  padding-top: 4.5%;
  text-align: justify;
  margin: 0 0 0 0;
 }





/* Portifóleo **************/



#Portifólio div{
  width: 100%;
}


#Portifólio img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
}

#Portifólio h1{
    padding-left: 8%;
    background-color: #856357;
    margin-right: 6%;
}

#Portifólio h2{
    padding-left: 8%;
    background-color: #856357;
    margin-right: 6%;
}

#Portifólio h3{
  text-align: justify; 
  padding-left: 8%;
  margin-right: 10%;
}

.Projetos {
  margin-left: 8%;
}


#Projetos img{
  width: 30vh;
  height: 30vh;;
  border-radius: 10px;
  margin: 0 0 0 4px;
  border: 10px solid white;
}

#Projetos ul{
  padding-right:4px;
}

#Projetos ul li{
  float: left;
}



/* Sobre Mim **************/


.Sobremimfoto {
    margin-right: 14%;
    margin-left: 8%;
    padding-top: 15px;
}

#Sobremim h1{
    text-align: left;
    padding-left: 2%;
    background-color: #91B49C;
    margin-left: 6%;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
}

#Sobremim h2{
  text-align: left;
  padding-left: 2%;
  background-color: #91B49C;
  margin-left: 6%;
  margin-right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}

#Sobremim h3{
  text-align: justify;
  padding-left: 8%;
  padding-right: 10%;
  margin-bottom: 0;
}


#Sobremim {
  text-align: center;
  clear: both;
  margin-bottom: 2%;
  overflow: hidden;
  min-height: 103%;
}

#Sobremim img {
  width: 31%;
  float: left;
  border-radius: 50%;
  margin: 0 4% 0 0;
  max-width: 300px;
  max-height: 300px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transform-style: preserve-3d;
  transition: all 7.0s linear;
}

#Sobremim img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s linear;
  opacity: 1;
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#Sobremim p {
  text-align: justify;
  padding-top: 5%;
  color: darkslategray;
}

.social {
  display: none;
  position: absolute;
  padding-left: 5vh;
  bottom: -120px;
}

.social .fa{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: all 0.5s linear;
}

.fa:hover {
    opacity: 0.7;
    transition: all 0.5s linear;
    width: 50px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


/* Contato **************/

#Contate-me {
  text-align: center;
  clear: both;
}

#Contate-me h1{
  background-color: #856357;
  margin-right: 0;
  box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.3);
  border-top-right-radius: 0px;
}

#ofim {
  clear: both;
}

form {
  padding-top: 5%;
}

form input, textarea {
  font-family:'Arvo', serif;
  font-size: 15px; 
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
  outline: none;
}

form input:first-child {
  margin-top: 10px;
}

form input {
  width: 552px;
  height: 30px;
}

form textarea {
    width: 550px;
    height: 200px;
    resize: none;
    padding-top: 11px;
}

.text {
  color: #494949;
  padding-left: 10px;
}

::-webkit-input-placeholder{color: #999999;}
::-moz-placeholder {color: #999999;}
::-ms-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */


/* Handle */

::-webkit-scrollbar-thumb {
    background: #91B49C; 
}

.button {
  background-color: #f0f0f0;
  color: #494949;
  width: 566px;
  height: 50px;
}

.button:hover{
  background-color: #91B49C;
  color: white;
}

/* Footer **************/

footer {
  width: 100%;
  height: 70px;
  background: url(../img/Fundo.jpg);
}

footer p {
    text-align: center;
    color: #f0f0f0;
    padding: 23px 0 0 0;
    margin: 0 0 0 0;
}

#Botão {
    font-size: 30px;
    font-family: 'Arvo', sans-serif;
    background-color: transparent;
    color: #739E85;
    transition: all 1s linear;
    border: 2px solid #739E85;
    border-radius: 5px;
    padding: 10px 24px;
}

#Botão:hover {
    transition: all 0.5s linear;
    box-shadow: inset 500px 0 0 0 #91B49C;
    overflow: hidden;
    color: white;
    cursor: pointer;
}


::-moz-selection { /* Code for Firefox */
    color: white;
    background: #98d1b0;
}

::selection {
    color: white;
    background: #98d1b0;
}

input, textarea, select, a, #Botão{ 
  outline: none; 
}

/* MEDIA QUERIES ***************************/

/* TABLETS */

@media screen and (max-width: 900px) {


#Logo_EOBX img{
 display: none;
}

#Serviços {
  width: auto;
}

#Serviços div {
  width: 55%;
}

.Serviços{
  width: 100%;
  margin: 0px 0px 0px 6%;
}

#Projetos {
    width: auto;
}

  .projetos_02 p {
  padding-top: 0px;
  margin: 0 0 0 0;
 }

 .projetos_01 p {
  padding-top: 0px;
 }


#Botão {
  width: 100%;
}

}


@media screen and (max-width: 600px) {

  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .Projetos ul, li {
    display: unset;
  }

  .active {
    display: block;
  }

  #Erick_Foto_Home img{
    width: 250px;
    height: 250px;
  }

  #Projetos {
    width: auto;
  }


.Obras {
  clear: both;
  overflow: hidden;
}

.projetos_02 p {
  padding-top: 0px;
  margin: 0 0 0 0;
 }

 .projetos_01 p {
  padding-top: 0px;
 }


 form input, form textarea {
    width: 70%;
  }
  .button {
    width: 75%;
  }

#projetos_01 img{
  float: none;
}

#projetos_02 img{
  float: none;
}

#Botão {
  width: 100%;
}

}



/* MOBILE */


@media screen and (max-width: 480px){
  #Logo_EOBX {
    width: 90px;
    margin-left: 30px;
  }

  #Sobremim p {
  text-align: justify;
  margin: 0 0 0 0;
  padding-top: 0;
}

  #Erick_Foto_Home img{
    width: 200px;
    height: 200px;
  }

  #Serviços {
    width: auto;
  }

#Serviços div{
  width: 55%;
}

.Serviços{
  width: 100%;
  float: none;
  margin-left: 5%;
}

#projetos_01 img{
  float: none;
}

#projetos_02 img{
  float: none;
}

  header nav{
    margin:0;
    float: none;
  }

  header nav ul {
    overflow: hidden;
    margin:0;
    padding: 0;
    width: 100%;
  }
  header nav ul.open {
    height: auto;
  }

  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 11px;
    border-top: 1px solid #91B49C;
  }

  header nav ul li:hover {
    background-color: #eeeeee;
  }

  #Home h1 {
    font-size: 60px;
    margin-top: 200px;
  }

  #Home h2 {
    width: 70%;
    height: auto;
  }


 form input, form textarea {
    width: 50%;
  }

  .button {
    width: 55%;
  }
  




